.sub_banner{ width:100%; height:800px; color:#fff;}
.sub_banner h2{ font-size:40px; line-height:60px; margin-bottom:20px;}
.sub_banner p{ width:75%; font-size:18px; line-height:34px;}
.sub_banner .mainbox{ height:100%; display:flex; align-items:flex-end; }
.sub_banner .txt{ padding-bottom:150px;}

.sub_tab{ width:100%; background:#F7F8FA; text-align:center;}
.sub_tab a{ color:#181B20; margin:0 50px; line-height:80px;font-size:18px; display:inline-block; padding:10px 0; position:relative;}
.sub_tab a.active{ font-weight:bold;}
.sub_tab a.active:after{ content:""; background:#181B20; width:80px; height:3px; position:absolute; left:50%; bottom:0; margin-left:-40px;}
.sub_tab.white{ background:rgba(4,19,107,0.5);}
.sub_tab.white a{ color:#fff;}
.sub_tab.white a.active:after{ background:#fff;}

/*  研发创新 */
.partner {}
.partner .mainbox { font-size: 0; text-align: center;} 
.partner .mainbox > p { font-size: 14px; text-align: left;} 
.partner .mainbox > dl { display: inline-block; width: calc(25% - 9px); margin-right: 12px; padding: 30px 0; background-color: #fff;}
.partner .mainbox > dl:nth-child(4n+0) { margin-right: 0;}
.partner .mainbox > dl > dt > img { width: 200px; height: 50px;}
.partner .mainbox > dl > dd > h2 { font-size: 14px; margin-top: 10px; text-align: center; padding: 0 40px;}

/* 全球布局 */
.flow .mainbox > p { margin-bottom: 40px;}


/* 企业荣誉 */
.advantage .mainbox {font-size: 0;}
.advantage .mainbox dl {font-size: 14px; display: inline-block; width: calc(33.33% - 12px); margin: 18px 18px 0 0; background-color: #0cc; text-align: center; padding: 30px 20px; box-sizing: border-box;}
.advantage .mainbox dl:nth-child(3n) {margin: 18px 0 0 0;}
.advantage .mainbox dl dd > h2 { margin-top: 30px; font-size: 20px; color: #070707;}
.advantage .mainbox dl dd > p { margin-top: 10px; color: #707070;}




@media screen and (max-width:1920px){
.sub_banner{ height:700px;}	
.sub_banner h2{ font-size:30px; line-height:50px;}
.sub_banner p{ font-size:16px; line-height:32px;}
.sub_banner .txt{ padding-bottom:100px;}
.sub_tab a{  margin:0 30px; font-size:22px;}
}
 
@media screen and (max-width:1720px){
.sub_banner{ height:600px;}	
}

 
@media screen and (max-width:1230px){
.sub_banner{ height:500px;}	
.sub_banner h2{ font-size:26px; line-height:40px;}
.sub_banner .txt{ padding-bottom:80px;}
.sub_tab a{  margin:0 20px; }
}

@media screen and (max-width:960px){
.sub_banner{ height:auto; padding:100px 0 0 0;}	
.sub_banner h2{ margin-bottom:10px;}
.sub_banner .txt{ padding-bottom:50px;}
.sub_banner p{ width:100%;}

.relate_product dl { width: 33.33%;}

.partner .mainbox> .con { text-align: center; width: 50%;}
}

@media screen and (max-width:768px){
.sub_tab{ overflow:hidden;}
.sub_tab a{ width:33.33333%; display:block; box-sizing:border-box; padding:15px 5px; float:left; text-align:center;  margin:0; font-size:16px; line-height:20px; }
.sub_tab a.active:after{ width:60px; height:2px;  margin-left:-30px;}

}

@media screen and (max-width:570px){
.sub_tab{ text-align:left;}
.advantage .con dl{ width:100%; height:auto; padding-bottom:50px;  margin:20px 0% 0 0; float:none; }
.advantage.style .con dl{float: left;}
.advantage .con dl:nth-child(2n){ margin:20px 0 0 0;}
.advantage .con dl:nth-child(3n){ margin:20px 0% 0 0;}
.advantage .con dl:nth-child(6n){ margin:20px 0 0 0;}

.relate_product dl { width: 50%;}

.partner .mainbox> .con > p{ width: 120px; height: 120px; line-height: 120px;}
}