.none {display: none;}

input::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.2);}
input:-moz-placeholder {color: rgba(255, 255, 255, 0.2);}
input::-moz-placeholder, textarea::-moz-placeholder {color: rgba(255, 255, 255, 0.2);}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: rgba(255, 255, 255, 0.2);}

.searchBtn {float: right; font-size: 16px; color: #fff; line-height: 87px; margin-right: 30px;}
.searchBtn a, .searchBar a {margin-bottom: 4px; background: url(../images/icon_search@2x.png) no-repeat; background-size: cover; width: 32px; height: 32px; display: inline-block; vertical-align: middle;} 
/* .searchBtn:hover a, .searchBar a:hover {background: url(../images/icon_search_hover@2x.png) no-repeat; background-size: cover;} 
.searchBtn:active a, .searchBar a:active {background: url(../images/icon_search_pressed@2x.png) no-repeat; background-size: cover;}  */

.header.lineb .searchBtn a {background: url(../images/icon_search_black@2x.png) no-repeat; background-size: cover;} 
.header.lineb.blue .searchBtn a {background: url(../images/icon_search@2x.png) no-repeat; background-size: cover;} 


.menu > ul > li:first-child {margin: 0; position: fixed;} 
.menu > ul > li  .searchBar {line-height: 36px; height: 87px; padding: 10px 0 0 0; box-sizing: border-box; }
.menu > ul > li  .searchBar .box {border-bottom: 1px solid rgba(255,255,255,0.2);}
.menu > ul > li  .searchBar .box a.close {background:url(../images/icon_close@2x.png) no-repeat; background-size:contain;}
.menu > ul > li  .searchBar .box a.close:hover {background:url('../images/icon_search_hover@2x(1).png') no-repeat; background-size:contain;}
.menu > ul > li  .searchBar .box a.close:active {background:url('../images/icon_search_pressed@2x(1).png') no-repeat; background-size:contain;}
.menu > ul > li  .searchBar input[type="text"] {border: none; background: transparent; color: #fff; float: right; width: 300px; height: 64px; font-size: 16px;}
.menu > ul > li  .searchBar input::-webkit-input-placeholder{ color: #aaa;}
.menu > ul > li  .searchBar input::-moz-placeholder { color: #aaa;}
.menu > ul > li  .searchBar input:-moz-placeholder { color: #aaa;}
.menu > ul > li  .searchBar input:-ms-input-placeholder{ color: #aaa;}
.menu > ul > li  .searchBar a {float: right; margin-top: 16px; cursor: pointer;}

.searchIco{ background: url(../images/icon_search@2x.png) no-repeat; border:0; background-size: cover; width: 32px; height: 32px; display: inline-block; float:right; cursor:pointer; margin-top:16px; } 


@media screen and (max-width:1460px){

.menu > ul > li { margin-left:38px;}
.menu > ul > li>a { padding:0 10px;}
} 

@media screen and (max-width: 1230px) {
.menu > ul {margin-right: 30px;}
.menu > ul > li { margin-left:30px;}
}

@media screen and (max-width:1160px) {
.menu{ margin-left:0px;}	
.menu > ul > li { margin-left:25px; padding:0;}	
}

@media screen and (max-width:1130px) {
.menu{margin-right:20px;}	
.menu > ul {margin-right: 0;}
.menu > ul > li { margin-left:10px;}	
.searchBtn {margin-right: 20px;}
}
 
@media only screen and (max-width:960px) {

.menu{ float:none; margin-left:0px;}
.menu > ul{ top:50px; position:fixed; height:100%; overflow:auto; z-index:10110; clear:both; background:rgba(2, 7, 18,0.98); height: calc(100% - 50px);}
.header.lineb .menu > ul > li>a{ color:#fff;}
 
.menu > ul > li:first-child {position: static;} 
.menu > ul > li  .searchBar {position: static; margin: 0 10px; padding: 0; border: 1px solid  #282828; background: #282828; line-height: 36px; border-radius: 6px; height: auto;}
.menu > ul > li .searchBar input[type="text"]{border: none; background: transparent; color: #fff; float: none; width: calc(100% - 48px); height: 36px; padding: 10px 0 0 10px; box-sizing: border-box;}
.menu > ul > li .searchBar a {float: none; margin: 0 0 2px 0;}
.menu > ul > li .searchBar .box {border: none;}
.menu > ul > li .searchBar .box a.close {display: none;}
.searchBtn {display: none;}

.menu > ul > li {width: 100%; float: none; box-sizing:border-box;  position:relative; display: block; margin:0;  padding:0px;  line-height:55px; }
.menu > ul > li:first-child{margin-top: 30px;}

.logo a{ width:120px;}
.header.lineb{ background:rgba(2, 7, 18,0.6);}
/*.header.lineb .logo a{ background:url(../images/logo_white@2x.png) no-repeat; background-size:contain; }*/
.searchIco{ margin:3px 10px 0 0; }
}
