.main .banner{ width: 100%; height: 1000px; color:#fff; background-color: #000000;}
.main .banner h2{ line-height:62px; font-size:60px; font-weight:300; padding-top:30%; letter-spacing:5px;}
.main .banner p{ font-size:30px; line-height:32px; margin-top:25px;}
.main .banner h2 strong{ font-weight:bold;}

.swiper-container {width: 100%;height: 100%;}
.main .banner .swiper-container-horizontal>.swiper-pagination-bullets, .main .banner .swiper-pagination-custom, .main .banner .swiper-pagination-fraction{ width:1200px; left:50%; margin-left:-600px; text-align:left;}
.main .banner .swiper-pagination-bullet{ background:rgba(255,255,255,0.2); width:20px; height:3px; border-radius:0; opacity:1;}
.main .banner .swiper-pagination-bullet-active{ width:120px; background:rgba(235,237,243,1);}

.title { padding: 50px 0; text-align: center;}
.title > span { font-size: 28px; font-weight: 500; padding: 0 20px;}
.title > img { display: inline-block; vertical-align: middle;}

/* 公司简介 */
.company { width: 100%; margin:0 auto 80px; position: relative; color:#333; background-color: #fff!important;}
.company .con { display: inline-block; padding: 20px; box-sizing: border-box; background-color: #ccc; width: calc(25% - 9px); margin-right: 12px; font-size: 12px; border-radius: 10px;}
.company .con:nth-child(4n) { margin-right: 0;}
.company .con > h1 { text-align: center;}
.company .con > p { font-size: 14px;}


/* 核心产品 */
.product {background: url(../images/product.jpg) no-repeat center; padding-bottom: 80px;}
/*.product > .title > span { color: #fff;}*/

.product .info { display: inline-block; color: #fff; width: 300px; vertical-align: top;}
.product .info > ul {margin-bottom: 10px;}
.product .info > ul > li > h2 { font-size: 18px; font-weight: 700; }
.product .info > ul > li > h3 { font-size: 12px; line-height: 24px; }

.product .con {display: inline-block; width: calc(100% - 310px);}
.product .con > ul { background-color: #ccc; display: inline-block;  padding: 45px 45px 20px 45px; width: calc((100% - 40px)/3); box-sizing: border-box; margin-left: 10px;}
.product .con > ul:hover { background-color: rgba(230,31,25,0.8); color: #fff;}
.product .con > ul:hover > li > a{ color: #fff;}
.product .con > ul > li > p { font-size: 18px; font-weight: 700; margin: 0 0 10px 0;}
.product .con > ul > li > a { font-size: 12px; padding: 5px 10px;}

/* 行业服务 */
.service .mainbox {font-size: 0;}
.service .mainbox > ul { width: calc(25% - 8px); margin: 0 4px; background-color: #0cc!important; display: inline-block; position: relative; height: 160px;}
.service .mainbox > ul:hover > li:first-child { display: none;}
.service .mainbox > ul:hover > li.info { background-color: rgba(230,31,25,0.8); display: inline-block;}
.service .mainbox > ul > li { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; font-size: 28px; font-weight: 700;}
.service .mainbox > ul > li.info { display: none; top: 50%; left: 0px; transform: translate(0, -50%); font-size: 14px; width: calc(100% - 0px); height: 100%; color: #fff; line-height: 20px; text-align: center; padding: 20px 30px; box-sizing: border-box;}
.service .mainbox > ul > li.info > p { margin-bottom: 10px;}


/* 我们的客户 */
.client { background-color: #f4f4f4; padding-bottom: 50px;}
.client > .mainbox {font-size: 0;}
.client > .mainbox > img {width: calc(20% - 10px); margin: 0 10px 10px 0;}


/* 产品功能 */
.product_fun {background-color: #f4f4f4; font-size: 0;}
.product_fun dl {width: calc(50% - 10px); background-color: #fff; margin: 0 20px 20px 0; padding: 40px 20px 20px 20px; box-sizing: border-box; display: inline-block; font-size: 12px;}
.product_fun dl:nth-child(2n) { margin: 0 0 20px 0;}
.product_fun dl > dt { text-align: center;}  
.product_fun dl > dd { font-size: 12px;}  


/* 产品优势 */
.products_advantage {font-size: 0;}
.products_advantage .con {background-color: #0cc; width: calc(50% - 10px); margin: 0 20px 20px 0; display: inline-block; font-size: 12px;}
.products_advantage .con:nth-child(2n) {margin-right: 0px;}
.products_advantage .con > img {}
.products_advantage .con > .info { display: inline-block; width: calc(100% - 145px); margin-left: 15px;}
.products_advantage .con > .info > h2 { font-size: 20px; margin-bottom: 15px;}
.products_advantage .con > .info > h3 { line-height: 2em; color: #717171; font-size: 14px;}


@media screen and (max-width:1920px){
.main .banner{ height:900px;}	

}
@media screen and (max-width:1820px){
.main .banner{ height:800px;}	
}

@media screen and (max-width:1720px){
.main .banner{ height:700px;}
.main .banner h2{  padding-top:20%; }
}

@media screen and (max-width:1430px){
.main .banner{ height:600px;}	
}
@media screen and (max-width:1330px){

}
@media screen and (max-width:1230px){
.main .banner .swiper-container-horizontal>.swiper-pagination-bullets, .main .banner .swiper-pagination-custom, .main .banner .swiper-pagination-fraction{ width:90%; margin-left:-45%; bottom:20px;}

/* 核心产品 */
.product > .mainbox { width: calc(100% - 40px); margin: 0 20px; color: #0dfb06;}
}

@media screen and (max-width:960px){
.main .banner{ height:500px; margin-top:49px;}
.main .banner .mainbox{ width:80%;}

.main .banner h2{ line-height:42px; font-size:40px; padding-top:20%; }
.main .banner p{ font-size:20px; line-height:22px; margin-top:20px;}

/* 核心产品 */
.product .info { width: 90%; margin: 0 auto;}
.product .con { display: none;}

/* 行业服务 */
.service .mainbox > ul { width: calc(33.33% - 8px);}

/* 我们的客户 */
.client > .mainbox > img {width: calc(25% - 10px); margin: 5px;}



/* 产品功能 */
/* .product_fun > dl {width: calc(50% - 20px);} */

}

@media screen and (max-width:768px){
.main .banner{ height:400px;}	
.company{ margin-top:50px;}
.main .banner .swiper-pagination-bullet-active{ width:40px; background:rgba(235,237,243,1);}

/* 行业服务 */
.service .mainbox > ul { width: calc(50% - 8px);}

/* 我们的客户 */
.client > .mainbox > img {width: calc(33.33% - 10px); margin: 5px;}
}

@media screen and (max-width:570px){
.main .banner{ height:300px;}	
 
}

@media screen and (max-width:450px){
.main .banner{ height:220px;}	
.main .banner h2{ line-height:30px; font-size:26px; padding-top:10%; letter-spacing:2px; }
.main .banner p{ font-size:16px; line-height:20px; margin-top:10px;}



/* 我们的客户 */
.client > .mainbox > img {width: calc(50% - 10px); margin: 5px;}
}
@media screen and (max-width:400px){
.main .banner{ height:200px;}	
/* .solve .text_info .con a:hover{ background:url(../images/icon_64_go.png) no-repeat center #1644C0; background-size:44px;}   */
}