 <textarea kk="nmb" id="{{ UEditor.id }}" name="{{ UEditor.name }}"  style="display: inline-block;" type="text/plain">
     {{ UEditor.value|safe }}
 </textarea>
<script type="text/javascript">
    {{ UEditor.commands|safe }}
    var {{ UEditor.id  }} = UE.getEditor('{{ UEditor.id  }}',{{ UEditor.settings|safe }});
     {{ UEditor.id  }}.ready(function(){
         {{ UEditor.bindEvents|safe }}
     });
</script>

