.sub_banner{ width:100%; height:800px; color:#fff;}
.sub_banner h2{ font-size:40px; line-height:60px; margin-bottom:20px;}
.sub_banner p{ width:75%; font-size:18px; line-height:34px;}
.sub_banner .mainbox{ height:100%; display:flex; align-items:flex-end; }
.sub_banner .txt{ padding-bottom:150px;}

.sub_tab{ width:100%; background:#F7F8FA; text-align:center;}
.sub_tab a{ color:#181B20; margin:0 50px; line-height:80px;font-size:18px; display:inline-block; padding:10px 0; position:relative;}
.sub_tab a.active{ font-weight:bold;}
.sub_tab a.active:after{ content:""; background:#181B20; width:80px; height:3px; position:absolute; left:50%; bottom:0; margin-left:-40px;}
.sub_tab.white{ background:rgba(4,19,107,0.5);}
.sub_tab.white a{ color:#fff;}
.sub_tab.white a.active:after{ background:#fff;}

/* 大数据战略规划 */
/* .plan .relate_product { margin-top: 40px;} */
.plan .relate_product dl { width: 25%; margin-top: 40px;}

/* 数据运营咨询 */
.summarize .mainbox { padding: 25px; box-sizing: border-box; background-color: #fff; border-radius: 0px; font-size: 14px;}
.summarize .mainbox > div { display: inline-block;}
.summarize .mainbox > .txt { width: calc(100% - 228px);}
.summarize .mainbox > .txt > p {margin-right: 30px;}
.summarize .mainbox > .img { width: 222px; vertical-align: top; text-align: right;}
.summarize .mainbox.box { font-size: 0; background-color: #f4f4f4; padding: 0; margin-top: 40px;}
.summarize .mainbox.box > .con { background-color: #0cc; width: calc(33.33% - 12px); margin-right: 18px; font-size: 14px;}
.summarize .mainbox.box > .con:nth-child(3n) { margin-right: 0px;}
.summarize .mainbox.box > .con > .img-bk { color: #fff; text-align: center;}
.summarize .mainbox.box > .con > .img-bk > h2 { font-size: 30px; padding-top: 12px;}
.summarize .mainbox.box > .con > .img-bk > h3 { font-size: 16px; line-height: 2em; padding: 10px 0;}
.summarize .mainbox.box > .con > .txt { height: 240px; overflow: auto;}
.summarize .mainbox.box > .con > .txt > p { padding: 20px; }

/* 数据科学建模 */ 
.apply .mainbox > .con { border: 1px solid #d2d2d2; display: inline-flex; align-items: center; padding: 30px 20px; margin-bottom: 20px;}
.apply .mainbox > .con:last-child { margin-bottom: 0;}
.apply .mainbox > .con > .img-con > img { width: 100px; height: 100px; margin-right: 20px;}
.apply .mainbox > .con > .txt { display: inline-block; width: calc(100% - 120px); vertical-align: top;}
.apply .mainbox > .con > .txt > h2 { font-size: 20px; margin: 10px 0;}
.apply .mainbox > .con > .txt > p { font-size: 14px; margin-top: 20px;}


/* 商业分析报告 */
.advantage { font-size: 0;}
.advantage .mainbox p { margin-bottom: 40px;}
.advantage .con { background-color: #0cc; width: calc(50% - 10px); margin: 0 20px 20px 0; display: inline-block; font-size: 12px;}
.advantage .con:nth-child(2n) { margin-right: 0px;}
.advantage .con > img { width: 100px; height: 100px;}
.advantage .con > .info { display: inline-block; width: calc(100% - 145px); margin-left: 15px;}
.advantage .con > .info > h2 { font-size: 20px; margin-bottom: 15px;}
.advantage .con > .info > h3 { line-height: 2em; color: #717171; font-size: 14px;}

/* 案例 */
.case { font-size: 0;}
.case .con { background-color: #0cc; width: calc(50% - 10px); margin: 0 20px 20px 0; display: inline-block; font-size: 12px;}
.case .con:nth-child(2n) { margin-right: 0px;}
.case .con > img { width: 120px; height: 120px; border-radius: 50%;}
.case .con > .info { display: inline-block; width: calc(100% - 145px); margin-left: 15px;}
.case .con > .info > h2 { font-size: 20px; margin-bottom: 15px; color: #f00;}
.case .con > .info > h3 { line-height: 2em; color: #717171; font-size: 14px;}




@media screen and (max-width:1920px){
.sub_banner{ height:700px;}	
.sub_banner h2{ font-size:30px; line-height:50px;}
.sub_banner p{ font-size:16px; line-height:32px;}
.sub_banner .txt{ padding-bottom:100px;}
.sub_tab a{ margin:0 30px; font-size:22px;}
}
 
@media screen and (max-width:1720px){
.sub_banner{ height:600px;}	
}

 
@media screen and (max-width:1230px){
.sub_banner{ height:500px;}	
.sub_banner h2{ font-size:26px; line-height:40px;}
.sub_banner .txt{ padding-bottom:80px;}
.sub_tab a{  margin:0 20px; }
}

@media screen and (max-width:960px){
.sub_banner{ height:auto; padding:100px 0 0 0;}	
.sub_banner h2{ margin-bottom:10px;}
.sub_banner .txt{ padding-bottom:50px;}
.sub_banner p{ width:100%;}

}

@media screen and (max-width:768px){
.sub_tab{ overflow:hidden;}
.sub_tab a{ width:33.33333%; display:block; box-sizing:border-box; padding:15px 5px; float:left; text-align:center;  margin:0; font-size:16px; line-height:20px; }
.sub_tab a.active:after{ width:60px; height:2px;  margin-left:-30px;}

}

@media screen and (max-width:570px){
.sub_tab{ text-align:left;}
.advantage .con dl{ width:100%; height:auto; padding-bottom:50px;  margin:20px 0% 0 0; float:none; }
.advantage.style .con dl{float: left;}
.advantage .con dl:nth-child(2n){ margin:20px 0 0 0;}
.advantage .con dl:nth-child(3n){ margin:20px 0% 0 0;}
.advantage .con dl:nth-child(6n){ margin:20px 0 0 0;}

}