
.footer{ width:100%; background:#181B20; color:#fff; padding:40px 0 20px 0;}
.footer ul{ float:left;}
.footer ul li{ float:left; font-size:16px; margin:45px 40px 0 0;}
.footer ul li a{ color:#fff;}
.footer ul li a:hover{ text-decoration:underline;}
.footer dl{ float:left; margin:40px 0 0 0 ;}
.footer dl dt{ margin-bottom:10px;}
.footer dl img{ margin-right:18px;}
.footer dl span{ display:inline-block; vertical-align:-4px;}
.footer dl span a{ display:inline-block; vertical-align:-4px;color: #fff;}
.footer .erwei{ float:right; color:#6C7483; font-size:12px;}
.footer .erwei p{ width:80px; float:left; text-align:center; margin-left:30px; margin-top:40px;}
.footer .erwei p img{ width:100%;}
.footer .erwei p span{ display:block; margin-top:5px;}
.footer .copy{ color:#6C7483; font-size:14px; margin-top:20px; padding-top:20px; border-top:1px solid rgba(108,116,131,0.2);}
.footer .copy a{color:#6C7483;}

.footer .foot_logo > p {font-size: 32px; font-weight: 500;}
 
@media screen and (max-width: 1230px) {
.footer ul{width: 100%;}
}

@media only screen and (max-width:768px){
.footer ul{ width:100%;}
.footer ul li{ width:25%; margin:30px 0 0 0;}
.footer dl{ float:none; padding-top:40px; overflow:hidden; margin:0px 0 0 0 ; width:100%;}
.footer .erwei{ float:none; width:100%;}
.footer .erwei p{ margin:20px 30px 0 0;}
}
 