.menu-mobile{display: none;}

.header{width:100%;margin: 0 auto; box-sizing:border-box; position:fixed; left:0; top:0; z-index:1000; transition:all .4s; }
.header.blue{ background: rgba(2, 7, 18,0.98);}
.header.detail{ background: rgba(2, 7, 18,0.98);}
.header.lineb.blue{ background: rgba(2, 7, 18,0.98); box-shadow:0 3px 5px 0 rgba(0,0,0,0);}
.header.lineb{ background:#fff; box-shadow:0 3px 5px 0 rgba(0,0,0,.1);}
.header .con{ position:relative; max-width:1920px;} 

.logo{ margin:30px 0 0 100px; float:left;} 
.logo a{font-size: 24px; color: #fff; width:189px; height:31px; background-size:contain; display:block; }
.header.lineb .logo a{ color:#2863d3!important;}
.header.lineb.blue .logo a { color:#2863d3;}

.header .ul_con{ max-width:1200px; margin:0 auto;}
  
.menu{ float:right; margin-right:100px;}
.menu > ul {width: 100%; margin: 0 auto;  box-sizing: border-box; float:left; margin-right:50px;}
.menu > ul > li {float: left; margin-left:60px;}
.menu > ul > li>a { display: block; padding:0 15px; font-size:16px; line-height:87px; box-sizing:border-box; color:#fff; position:relative; font-weight: 500!important;}
.menu > ul > li>a:hover{ background: rgba(255, 255, 255,0.2)}

.header.lineb .menu > ul > li>a{ color:#333;}
.header.lineb.blue .menu > ul > li>a{ color:#fff;}
.menu > ul > li>a.active:after{ content:""; width:60px; height:2px; background:#fff; display:block; margin:0 auto; position:absolute; left:50%; bottom:10px; margin-left:-30px;}
.header.lineb .menu > ul > li>a.active:after{ background:#333;} 
.header.lineb.blue .menu > ul > li>a.active:after{ background:#fff;}
 
/* .menu > ul > li > ul { width: 100%; background: rgba(2, 7, 18,0.98); position:fixed; display:none; overflow:hidden; z-index: 99; left: 0; padding:16px 0 40px 0; } */
.menu > ul > li > ul { width: 100%; position: relative; display:none; overflow:hidden; z-index: 99; padding:16px 0 40px 0; }
 
/* .menu > ul > li > ul > .ul_con li{ float:left; margin-right:30px;} 
.menu > ul > li > ul > .ul_con li.first{ margin-left:32%;}
.menu > ul > li > ul > .ul_con li.sen{ margin-left:42%;}
.menu > ul > li > ul > .ul_con li.san{ margin-left:12%;}
.menu > ul > li > ul > .ul_con li.si{ margin-left:82%;} */
 
.menu > ul > li > ul > .ul_con li>a{ color:#fff; line-height:32px; font-size:14px; margin-bottom:10px; display:block; font-weight: 600;}
.menu > ul > li > ul > .ul_con li a:hover{ text-decoration:underline;}

.menu > ul > li > ul > .ul_con li dl{ margin-top:5px;}
.menu > ul > li > ul > .ul_con li dl a { color:#fff; display:inline-block; min-width:85px; font-size:14px; margin-right:0px; line-height:32px; margin-right:40px;}


/* Mobile style's–– */
.language{ float:right;  font-size:16px; color:#fff; line-height:87px;}
.language a{ color:#fff; }
.language a:hover{ text-decoration:underline;}
.header.lineb.blue .language a{ color:#fff;}
.header.lineb .language a{ color:#333;}

@media screen and (max-width:1660px){
.menu > ul > li > ul > .ul_con li.san{ margin-left:0%;}
.menu > ul > li > ul > .ul_con li.si{ margin-left:76%;}	
.menu > ul > li { margin-left: 48px;}
} 


@media screen and (max-width:1560px){
.menu > ul > li > ul > .ul_con li.san{ margin-left:0%;}
.menu > ul > li > ul > .ul_con li.si{ margin-left:76%;}	
} 

@media screen and (max-width:1460px){
.menu > ul > li > ul > .ul_con li.san{ margin-left:0%;}
.menu > ul > li > ul > .ul_con li.si{ margin-left:79%;}	
} 

@media screen and (max-width:1390px){
.logo{ margin:30px 0 0 50px; } 	
.menu{ float:right; margin-right:50px; }

.menu > ul > li > ul > .ul_con li.san{ margin-left:10%;}
.menu > ul > li > ul > .ul_con li.si{ margin-left:78%;}	
 
.menu > ul > li > ul > .ul_con li dl a { font-size:12px; }	
}

@media screen and (max-width:1290px){
.menu > ul > li > ul > .ul_con li.first{ margin-left:42%;}
.menu > ul > li > ul > .ul_con li.sen{ margin-left:35%;}
.menu > ul > li > ul > .ul_con li.san{ margin-left:10%;}
.menu > ul > li > ul > .ul_con li.si{ margin-left:78%;}	
.menu > ul > li > ul > .ul_con li dl a { font-size:12px; }	
}
 
@media screen and (max-width: 1230px) {
.footer ul{width: 100%;}
}

@media screen and (max-width:1160px) {
.menu > ul > li > ul > .ul_con li.san{ margin-left:5%;}
.menu > ul > li > ul > .ul_con li.si{ margin-left:76%;}	
}


@media only screen and (min-width:960px) { 
/* .menu > ul {display: block!important;}s */
}

@media only screen and (max-width:960px) {
.logo{ margin:10px 0 0 16px; }
.header {width: 100%; height:50px; background:rgba(2, 7, 18,0.98)!important;}
 
.menu-mobile {display: block;  }
.menu-mobile:before {content:"\e801"; font-family: 'fontello'; font-size:20px; color:#fff; position:absolute; right:15px; line-height:50px; transition:all .3s;}
.menu-mobile.close:before {content:"\e802"; font-family: 'fontello'; font-size:18px; color:#fff; position:absolute; right:15px; line-height:50px; transition:all .3s;}
 
.menu{ float:none; margin-left:0px;}
.menu > ul{ top:50px; position:fixed; height:100%; overflow:auto; z-index:10110; clear:both; background:rgba(2, 7, 18,0.98); height: calc(100% - 50px);}
.header.lineb .menu > ul > li>a{ color:#fff;}
 
.header .con, .ul_con{ width:100%; box-sizing:border-box;}
/* .menu > ul > li > ul > .ul_con li{ float:none; margin-right:0;} 
.menu > ul > li > ul > .ul_con li.first{ margin-left:0%;}
.menu > ul > li > ul > .ul_con li.sen{ margin-left:0%;}
.menu > ul > li > ul > .ul_con li.san{ margin-left:0%;}
.menu > ul > li > ul > .ul_con li.si{ margin-left:0%;} */
.menu > ul {display: none;}
.header.lineb .menu > ul > li>a.active:after{ display:none;}
 
.menu > ul > li {width: 100%; float: none; box-sizing:border-box;  position:relative; display: block; margin:0;  padding:0px;  line-height:55px; }
.menu > ul > li:first-child{margin-top: 30px;}

.logo a{ width:120px;}
.header.lineb{ background:rgba(2, 7, 18,0.6);}
/* .header.lineb .logo a{ background:url(../images/logo_white@2x.png) no-repeat; background-size:contain; } */

.menu > ul > li.open{ border-bottom:0;}
.menu > ul > li>a { display:inline; line-height:55px; padding-left:20px;  font-family: 'fontello'; box-sizing:border-box; color:#fff!important;}
 
.menu > ul > li  i.openbt:after{ content:"\e803"; height:55px; font-family: 'fontello'; font-size:16px; color:#fff; position:absolute; right:15px;}
 
.header-index .menu > ul > li>a:hover{ border-bottom:0px solid #fff; color:#fff;}
.header-index .menu > ul > li.on>a{ border-bottom:0px solid #fff; color:#fff;}

.menu > ul > li>a:hover{ border-bottom:0px solid #bc1c35; color:#fff;}
.menu > ul > li.on>a{ border-bottom:0px solid #bc1c35; color:#fff;}

.menu > ul > li > ul { position: relative;   padding:10px 0; background:rgba(16,16,39,.6); }
.header-index .menu > ul > li > ul { background:rgba(104,105,110,0.99); border-top:1px solid rgba(9,36,86,.6); border-bottom:1px solid rgba(9,36,86,.6);  }
/* .menu > ul > li > ul .ul_con li {float: none; line-height:20px; width: 100%;margin-top:10px; box-sizing:border-box; padding:0 20px;}
.menu > ul > li > ul > li:first-child {margin: 0;}
.menu > ul > li > ul > li > ul {position: relative; }
.menu > ul > li > ul > li > ul > li {float: none;} */

.menu > ul > li > ul.normal-sub li { float:none; margin-left:0px; }

.menu > ul > li > ul > .ul_con li>a{ color:#fff;}
.menu > ul > li > ul > .ul_con li dl a { color:#e2e2e2;}
.menu > ul > li>a.active:after{ display:none;}
.menu .show-on-mobile {display: block;}

.language{ position:relative; line-height:57px; background:none; clear:both; left:0; width:100%; top:0; right:inherit; box-sizing:border-box; padding:0 20px; border-top:1px solid rgba(9,36,86,.6);}
.language a{ color:#fff; font-size:16px;}
}

.footer{ width:100%; background:#181B20; color:#fff; padding:40px 0 20px 0;}
.footer ul{ float:left;}
.footer ul li{ float:left; font-size:16px; margin:45px 100px 0 0;}
.footer ul li a{ color:#fff;}
.footer ul li a:hover{ text-decoration:underline;}
.footer dl{ float:left; margin:40px 0 0 0 ;}
.footer dl dt{ margin-bottom:10px;}
.footer dl img{ margin-right:18px;}
.footer dl span{ display:inline-block; vertical-align:-4px;}
.footer dl span a{ display:inline-block; vertical-align:-4px;color: #fff;}
.footer .erwei{ float:right; color:#6C7483; font-size:12px;}
.footer .erwei p{ width:80px; float:left; text-align:center; margin-left:30px; margin-top:40px;}
.footer .erwei p img{ width:100%;}
.footer .erwei p span{ display:block; margin-top:5px;}
.footer .copy{ color:#6C7483; font-size:14px; margin-top:20px; padding-top:20px; border-top:1px solid rgba(108,116,131,0.2);}
.footer .copy a{color:#6C7483;}

.footer .foot_logo > p {font-size: 32px; font-weight: 500;}

@media only screen and (min-width: 960px) {
.menu > ul {display: block!important;}
}

@media only screen and (max-width:768px){
.footer ul{ width:100%;}
.footer ul li{ width:25%; margin:30px 0 0 0;}
.footer dl{ float:none; padding-top:40px; overflow:hidden; margin:0px 0 0 0 ; width:100%;}
.footer .erwei{ float:none; width:100%;}
.foot_logo{ width:140px;}
.foot_logo img{ width:100%;}
.footer .erwei p{ margin:20px 30px 0 0;}
}
 