{% extends "base.html" %}

{% block extracss %}
    <link href="{% static 'css/case.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block mainbody %}
    <div class="sub_banner"
         style="background:url({{ banner.img }}) no-repeat center top #000; background-size:cover;">
        <div class="mainbox">
            <div class="txt">
                <h2>{{ banner.title }}</h2>
                <p>{{ banner.info }}</p>
            </div>
        </div>
    </div>

    <div class="main">
        <!-- 案例 -->
        <div class="dk case">
            <div class="title">
                <span>案例</span>
            </div>
            <div class="mainbox">
                {% for item in case %}
                    <div class="con">
                        <img src="{{ item.img }}" alt="">
                        <div class="info">
                            <h2>{{ item.title }}</h2>
                            <h3>{{ item.info }}</h3>
{#                            <button>了解更多></button>#}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>

{% endblock %}

