{% extends "base.html" %}

{% block extracss %}
    <link href="{% static 'css/company.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block mainbody %}
    <div class="sub_banner"
         style="background:url({{ banner.img }}) no-repeat center top #000; background-size:cover;">
        <div class="mainbox">
            <div class="txt">
                <h2>{{ banner.title }}</h2>
                <p>{{ banner.info }}</p>
            </div>
        </div>
    </div>

    <div class="main">
        <!-- 企业介绍 -->
        <div class="dk introduce">
            <div class="title">
                <span>{{ company.title }}</span>
            </div>
            <p>{{ company.info }}</p>
        </div>

        <!-- 研发创新 -->
        <div class="dk partner">
            <div class="title">
                <span>研发创新</span>
            </div>
            {#            <p>为了促进科技落地，百分点一直注重产学研用相结合，已经与北京大学、中国人民公安大学、中央财经大学等多家国内一流高校和研究机构，成立了八个合作研究中心。</p>#}
            <div class="mainbox">
                {% for item in innovation %}
                    <dl>
                        <dt>
                            <img src="{{ item.img }}"
                                 alt="">
                        </dt>
                        <dd>
                            <h2>{{ item.title }}</h2>
                        </dd>
                    </dl>
                {% endfor %}
            </div>

        </div>

        <!-- 全球布局 -->
        <div class="dk flow">
            <div class="title">
                <span>{{ layout.title }}</span>
            </div>
            <div class="mainbox">
                <p>{{ layout.info }}</p>
                <img src="https://www.percent.cn//UploadFiles/CompanyImg/9a8f753a-e07d-4ee3-bf86-16da1ae53229.png"
                     alt="">
            </div>
        </div>

        <!-- 企业荣誉 -->
        <div class="dk advantage">
            <div class="title">
                <span>{{ honor.title }}</span>
            </div>
            <div class="mainbox">
                <p>{{ honor.info }}</p>
            </div>
        </div>

    </div>

{% endblock %}

