{% extends "base.html" %}

{% block extracss %}
    <link href="{% static 'css/consult.service.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block mainbody %}
    <div class="sub_banner"
         style="background:url({{ banner.img }}) no-repeat center top #000; background-size:cover;">
        <div class="mainbox">
            <div class="txt">
                <h2>{{ banner.title }}</h2>
                <p>{{ banner.info }}</p>
            </div>
        </div>
    </div>

    <div class="main">
        <!-- 大数据战略规划 -->
        <div class="dk plan">
            <div class="title">
                <span>大数据战略规划</span>
            </div>
            <div class="mainbox">
                {#                <p>#}
                {#                    百分点以大数据应用为战略引领，聚焦全球大数据发展趋势和中国大数据发展实践，为企业提供从顶层策划、蓝图设计、路径规划到实施落地的全程咨询服务。#}
                {#                </p>#}
                <div class="relate_product">
                    {% for item in consuleservice %}
                        <dl>
                            <dt>
                                <img src="{{ item.img }}" alt="">
                            </dt>
                            <dd>
                                <p>{{ item.title }}</p>
                            </dd>
                        </dl>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- 数据运营咨询 -->
        <div class="dk summarize">
            <div class="title">
                <span>数据运营咨询</span>
            </div>
            <div class="mainbox">
                {#                <div class="txt">#}
                {#                    <p>#}
                {#                        百分点政府大数据综合解决方案以百分点大数据操作系统BD-OS为基础平台，构建数据抓取、舆情洞察、标签工场、自然语言分析、数据共享开放等成熟的模块化应用产品组件；以政府各委办局的业务系统数据作为主要数据来源；以互联网公开数据作为重要的数据补充；以行业应用模型库和算法库作为业务支撑。#}
                {#                        百分点政府大数据综合解决方案以满足客户需求为导向，以咨询规划、数据服务、平台建设、项目交付等不同形式，向各级政府、公共事业以及大型国有企业提供大数据应用产品和服务。</p>#}
                {#                </div>#}
                {#                <div class="img">#}
                {#                    <img src="images/solution.png" alt="">#}
                {#                </div>#}
            </div>
            <div class="mainbox box">
                {% for item in dataOperation %}
                    <div class="con">
                        <div class="img-bk"
                             style="background: url({{ item.img }}) center center no-repeat; background-size: cover;">
                            <h2>{{ item.title }}</h2>
                            <h3> </h3>
{#                            <h3>个性化的客户经营体系</h3>#}
                        </div>
                        <div class="txt">
                            <p>{{ item.info }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- 数据科学建模 -->
        <div class="dk apply">
            <div class="title">
                <span>数据科学建模</span>
            </div>
            <div class="mainbox">
                {% for item in dataScience %}
                    <div class="con">
                        <div class="img-con">
                            <img src="{{ item.img }}" alt="">
                        </div>
                        <div class="txt">
                            <h2>{{ item.title }}</h2>
                            <p>{{ item.info }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- 商业分析报告 -->
        <div class="dk advantage">
            <div class="title">
                <span>商业分析报告</span>
            </div>
            <div class="mainbox">
                {#                <p>#}
                {#                    百分点大数据商业分析服务，专注于满足市场对海量异构数据的融合与分析需求，以消费者为研究中心，运用大小数据融合的方法论，将海量的商品及消费者行为数据、舆情数据、市场调研数据等与商业模型进行有效结合，为客户打造成熟的行业解决方案，提供定制化研究咨询报告。</p>#}
                {% for item in analysisReport %}
                    <div class="con">
                        <img src="{{ item.img }}" alt="">
                        <div class="info">
                            <h2>{{ item.title }}</h2>
                            <h3>{{ item.info }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

