{% extends "base.html" %}

{% block extracss %}
    <link href="{% static 'css/detail.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block mainbody %}
    <div class="main">
        <!-- ueditor -->
        <div class="dk ueditor">
            <div class="mainbox">
                <div>{{ detail.id }}</div>
                {{ detail.info | safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}
