<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/basicstyle.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/detail.css' %}" rel="stylesheet" media="all">
</head>
<body>
<div id="content">

    <div class="main">
        <!-- ueditor -->
        <div class="dk ueditor">
            <div class="mainbox">
                <div>{{ detail.id }}</div>
                {{ detail.info | safe }}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
</body>
</html>
