<div class="footer">
    <div class="content mainbox">
        <div class="foot_logo">
            <p>{{ footer.name }}</p>
        </div>
        <ul>
            {% for item in header %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
        <dl>
            <dt><img src="{% static 'images/icon_footor_number.png' %}" alt=""><span>{{ footer.tel }}</span></dt>
            <dt><img src="{% static 'images/icon_footor_location.png' %}" alt=""><span>{{ footer.address }}</span></dt>
        </dl>

        <div class="erwei">
{#            <p><img src="{% static 'images/img_footor_weibo.png' %}"><span>微博</span></p>#}
            <p><img src="{{ footer.weixin }}"><span>微信公众号</span></p>
        </div>
        <div class="cl"></div>
        <p class="copy">{{ footer.copy }}</p>
    </div>
</div>