<div class="header">
    <div class="con cl">
        <div class="logo"><a href="#">DataKnower {{ request.path }}</a></div>
        <div class="menu">
            <ul>
                <li class="none"></li>
                {% for item in header %}
                    <li>
                        <a href="{{ item.url }}">{{ item.title }}</a>
                        {% if item.subMenu %}
                            <ul>
                                <div class="ul_con">
                                    {% for sub in item.subMenu %}
                                        <li class="first"><a href="{{ sub.url }}">{{ sub.title }}</a></li>
                                    {% endfor %}
                                </div>
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a href="javascript:;" class="menu-mobile"></a>
    </div>
</div>