{% extends "base.html" %}

{% block extracss %}
    <link href="{% static 'css/swiper.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block mainbody %}
    <div class="main">
        <div class="banner index-ban">
            <div class="swiper-container swiper-container1">
                <div class="swiper-wrapper">
                    {% for item in swiper %}
                        <div class="swiper-slide"
                             style="background: url({{ item.img }}) no-repeat center top #0A2E61; background-size: cover;">
                            <div class="mainbox">
                                {#                            <h2>开启<strong>智能声音</strong>新时代</h2>#}
                                <h2>{{ item.title }}</h2>
                                <p>{{ item.sub_title }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination1"></div>
            </div>
        </div>

        <!-- 公司简介 -->
        <div class="dk company"
             style="background:url({% static 'images/product.jpg' %}) no-repeat center top #ccc; background-size:cover;">
            <div class="title">
                <span>核心服务</span>
            </div>
            <div class="mainbox">
                {% for item in company %}
                    <div class="con">
                        <h1>{{ item.title }}</h1>
                        <p>{{ item.info }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- 核心产品 -->
        <div class="dk product"
             style="background:url({% static 'images/product.jpg' %}) no-repeat center top #ccc; background-size:cover;">
            <div class="title">
                <span>核心产品</span>
            </div>

            <div class="mainbox">
                <div class="info">
                    {% for item in home_product %}
                        <ul>
                            <li>
                                <h2>{{ item.title }}</h2>
                                <h3>{{ item.info }}</h3>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
                <div class="con">
                    {% for item in home_product %}
                        <ul>
                            <li>
                                <p>{{ item.title }}</p>
                            </li>
                            {% for sub in item.sub_title %}
                                <li><a href="javascript:;">{{ sub }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- 行业服务 -->
        <div class="dk service">
            <div class="title">
                <span>行业服务</span>
            </div>

            <div class="mainbox">
                {% for item in service %}
                    <ul style="background: url({{ item.img }}) no-repeat center;">
                        <li>{{ item.title }}</li>
                        <li class="info">
                            <p>{{ item.info }}</p>
                            <a class="btn tm" href="{{ item.url }}">了解详情</a>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>

        <!-- 我们的客户 -->
        <div class="dk client">
            <div class="title">
                <span>我们的客户</span>
            </div>

            <div class="mainbox">
                {% for item in client %}
                    <img src="{{ item.img }}" alt="">
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}

