{% extends "base.html" %}

{% block extracss %}
    <link href="{% static 'css/partner.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block mainbody %}
    <div class="sub_banner"
         style="background:url({{ banner.img }}) no-repeat center top #000; background-size:cover;">
        <div class="mainbox">
            <div class="txt">
                <h2>{{ banner.title }}</h2>
                <p>{{ banner.info }}</p>
            </div>
        </div>
    </div>

    <div class="main">

        <!-- 战略合作伙伴 -->
        <div class="dk introduce">
            <div class="title">
                <img src="./images/icon_left.png" alt="">
                <span>战略合作伙伴</span>
                <img src="./images/icon_right.png" alt="">
            </div>
            {#            <p>#}
            {#                百分点是中国领先的数据智能技术企业，拥有完整的大数据和认知智能产品线，以及行业智能决策应用产品，同时创建了丰富的行业解决方案和模型库，拥有强大的行业知识图谱构建能力。目前已服务国内外10,000+企业与政府客户，致力于推进数据到知识再到智能决策的演进。#}
            {#            </p>#}
            <div class="mainbox">
                {% for item in strategic %}
                    <div class="con">
                        <img src="{{ item.img }}" alt="">
                        <p>{{ item.title }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- 渠道合作伙伴 -->
        <div class="dk partner"
             style="background:url({% static 'images/partner_bk.jpg' %}) no-repeat center top #000; background-size:cover;">
            <div class="title">
                <span>渠道合作伙伴</span>
            </div>
            <div class="mainbox">
                {#                <p>销售、代理百分点产品、解决方案及服务的合作伙伴。</p>#}
                {% for item in channel %}
                    <div class="con">
                        <p>{{ item.title }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>

        <!-- 合作流程 -->
        <div class="dk flow">
            <div class="title">
                <span>合作流程</span>
            </div>
            <div class="mainbox">
                {% for item in process %}
                    <dl>
                        <dt>

                            <img src="{{ item.img }}"></img>
                        </dt>
                        <dd>
                            <p>在线申请</p>
                        </dd>
                    </dl>
                {% endfor %}
            </div>
        </div>

        <!-- 合作权益 -->
        <div class="dk advantage">
            <div class="title">
                <span>合作权益</span>
            </div>
            <div class="mainbox">
                {% for item in interests %}
                    <dl>
                        <dt>
                            <img src="{{ item.img }}" alt="">
                        </dt>
                        <dd>
                            <h2>{{ item.title }}</h2>
                        </dd>
                        <dd>
                            <p>{{ item.info }}</p>
                        </dd>
                    </dl>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}

